<table>
    <tbody>
        <tr>
            <td>Title</td>
            <td>:</td>
            <td><%= product.title %></td>
        </tr>
        <tr>
            <td>Price</td>
            <td>:</td>
            <td><%= product.price %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>:</td>
            <td><%= product.description %></td>
        </tr>
    </tbody>
</table>