<div>
    <div style="float: left">
        <a href="/">Home page</a>|
        <a href="/products">Products</a>|
        <a href="/products/add">Add product</a>
    </div>
    <div style="float: right">
        <a href="/user/signup">Sign Up</a>|
        <a href="/user/login">Login</a>|
        <a href="/user/logout">Logout</a>
    </div>
</div><br>
